.box {
  justify-content: center;
  border-radius: 3px;
  padding: 20px 20px 5px 20px;
  display: block;
  background-color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.1);
  margin: auto;
  min-width: 350px;
}

.error-message {
  border-radius: 3px;
  border: 1px solid #E9CDCC;
  background-color: #FADEDE;
  color: #9B0F05;
  padding: 7px;
  width: 73%;
  margin: 10px 0;
}

#results {
  max-height: 500px;
  min-height: 20px;
  overflow: scroll;
}
